/*主体文件*/
/*变量*/
/*这样的注释是会编译在css文件当中的*/
a:hover {
  color: #e92322;
}
.wjs_icon {
  color: #e92322;
}
/*mixin*/
/*mixin 混入*/
/*css选择器*/
/*.w50{
  width: 50px;
  display: block;
}
.w60{
  width: 60px;
  display: block;
}
.f_left{
  float: left;
}*/
/*css选择器混入类混入*/
/*.w50f_left{
  .w50();
  .f_left();
}
.w60f_left{
  .w60();
  .f_left();
}*/
/*函数的概念*/
/*当有参数的时候  但是没有定义默认参数 就一定需要传参*/
/*当有参数的时候  有定义默认参数  都可以*/
.w50 {
  width: 50px;
  display: block;
}
/* 函数混入  */
.w70 {
  width: 70px;
  display: block;
}
/*模块*/
/*topbar*/
.wjs_topBar {
  width: 100%;
}
.wjs_topBar ul {
  list-style: none;
}
.wjs_topBar ul li {
  float: left;
  width: 25%;
}
.wjs_topBar ul li a {
  display: block;
}
.wjs_topBar ul li a .wjs_icon {
  color: #e92322;
}
.wjs_topBar ul li a:hover {
  color: #333;
}
.wjs_topBar ul li a::before {
  content: '你好';
}
.wjs_topBar ul li a > span {
  color: red;
}
/*banner*/
.banner {
  width: 100%;
}
.color {
  color: #ff9999;
  background: #ff8000;
  border: 1px solid #1a1a1a;
  width: 14.28571429%;
}
